@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default;
 }

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* If you want to keep scrolling but hide the scrollbar: */
.tab-cont {
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.tab-cont::-webkit-scrollbar {
  height: 0; /* Chrome, Safari, Opera */
}

.bg-image{
  /* background: url("../images/loginbg.jpg"), linear-gradient(bottom right, rgba(255, 0, 0, 0.808), rgba(0, 0, 255, 0.76)); */
  background: linear-gradient(to right, #1b1c20b6, #1b1c20c0), url("../images/loginbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 100vh;
}

.sidebar-content-div-p{
  color: black;
}

.sidebar-content-div:hover .sidebar-content-div-p{
  color:white
}

.sidebar-content-div:hover .sidebar-content-div-p:hover{
  color:yellow
}

